﻿body {
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: #595959 !important;
}

/*ICONOS*/
@font-face {
    font-family: 'icomoon';
    src: url("../../fonts/icomoon/icomoon.eot?tmere9");
    src: url("../../fonts/icomoon.eot?tmere9#iefix") format('embedded-opentype'), url("../../fonts/icomoon.ttf?tmere9") format('truetype'), url("../../fonts/icomoon.woff?tmere9") format('woff'), url("../../fonts/icomoon.svg?tmere9#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url("../../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
    content: "\e9c8";
}

.icon-eye:before {
    content: "\ec45";
}

.icon-minus2:before {
    content: "\e994";
}

.icon-plus2:before {
    content: "\e9af";
}

.icon-star-full:before {
    content: "\ec50";
}

.icon-star-half:before {
    content: "\ec4f";
}

.icon-star-empty:before {
    content: "\ec4e";
}

.icon-reply:before {
    content: "\ebe1";
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.sidebar .side {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6 !important;
    padding: 1.5em;
}

    .sidebar .side h2 {
        text-transform: uppercase;
        font-size: 17px;
    }

.panel-group {
    margin-bottom: 0;
}

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }

.fancy-collapse-panel .panel-default > .panel-heading {
    padding: 0;
    border: none;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}

.panel-titulo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-heading a.collapsed {
    color: #333333;
}

.panel-heading a {
    padding: 10px 0;
    display: block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
    color: #FFC300;
    position: relative;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    transition: 0.5s;
}

    .panel-heading a:after {
        font-family: "icomoon";
        content: "\e994";
        position: absolute;
        right: 20px;
        font-size: 11px;
        font-weight: 400;
        top: 50%;
        line-height: 1;
        margin-top: -8px;
    }

.collapse.in {
    display: block;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}

.panel-body {
    padding: 5px;
}

    .panel-body ul {
        margin: 0;
        padding: 0 0 0 20px;
        list-style: disc;
    }

        .panel-body ul li {
            font-size: 12px;
        }

            .panel-body ul li a {
                color: #000;
            }

.paginadoProductos .text-center .product-entry {
    margin-bottom: 40px;
}

    .paginadoProductos .text-center .product-entry .product-img {
        display: block;
        height: 350px;
        margin-bottom: 20px;
        position: relative;
        background-size: 230px;
        box-shadow: 0 2px 3px 3px whitesmoke;
    }



.product-entry {
    margin-bottom: 40px;
}

    .product-entry .product-image {
        display: block;
        height: 350px;
        margin-bottom: 20px;
        position: relative;
        background-size: contain;
    }

    .product-entry .product-image img {
        height: 100%
    }

        .product-entry .product-img .tag {
            position: absolute;
            top: 10px;
            left: 10px;
        }

            .product-entry .product-img .tag .nuevo {
                font-size: 11px;
                background: #FFC300;
                color: #fff;
                padding: .3em .5em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                border-radius: 2px;
            }

            .product-entry .product-img .tag .rebaja {
                font-size: 11px;
                background: #DD3E3E;
                color: #fff;
                padding: .3em .5em;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                border-radius: 2px;
            }

        .product-entry .product-img .cart {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
            display: block;
            padding: 0 1em;
            opacity: 0;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            display: flex;
            justify-content: space-evenly;
            padding: 0 70px;
        }

            .product-entry .product-img .cart p {
                margin-bottom: 0;
                width: 100%;
                text-transform: uppercase;
                font-size: 12px;
            }

            .product-entry .product-img .cart .cajaProductos {
                display: flex;
                align-items: center;
            }

            .product-entry .product-img .cart span {
                display: inline-block;
            }

                .product-entry .product-img .cart span a {
                    display: block;
                    color: #fff;
                    /*padding: 1em;*/
                    padding: .7em;
                }

                    .product-entry .product-img .cart span a:hover {
                        background: #FFC300;
                    }

    .product-entry .desc h3 {
        font-size: 20px;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
    }

        .product-entry .desc h3 a {
            color: #000;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
        }

    .product-entry .desc .price span {
        color: #254AB1;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
    }

    .product-entry .desc .price .rebaja {
        color: gray;
        text-decoration: line-through;
        font-weight: 300;
    }

    .product-entry:hover .product-img .cart {
        opacity: 1;
    }

.product-detail-wrap .product-image {
    height: 400px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}

.product-cart .product-img, .product-name .product-img {
    display: block;
    width: 90px;
    height: 100px;
    float: left;
}

@media screen and (max-width: 768px) {
    .product-cart .product-img, .product-name .product-img {
        display: none;
    }
}

.tab-content h3 {
    font-size: 18px;
    margin-bottom: 40px;
}

.tab-content .review {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

    .tab-content .review .user-img {
        width: 80px;
        height: 80px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        float: left;
    }

    .tab-content .review .desc {
        width: calc(100% - 100px);
        float: right;
    }

        .tab-content .review .desc h4 {
            width: 100%;
            margin-bottom: 10px;
        }

            .tab-content .review .desc h4 span:first-child {
                font-size: 16px;
            }

            .tab-content .review .desc h4 span {
                width: 49%;
                display: inline-block;
            }

                .tab-content .review .desc h4 span:last-child {
                    font-size: 12px;
                    color: #b3b3b3;
                }

            .tab-content .review .desc h4 span {
                width: 49%;
                display: inline-block;
            }

        .tab-content .review .desc .star {
            width: 100%;
        }

            .tab-content .review .desc .star span {
                width: 49%;
                display: inline-block;
            }

            .tab-content .review .desc .star i {
                color: #FFDD00;
            }

            .tab-content .review .desc .star span {
                width: 49%;
                display: inline-block;
            }

            .tab-content .review .desc .star .reply {
                padding: 2px 10px;
                background: #f0f0f0;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                border-radius: 2px;
            }

                .tab-content .review .desc .star .reply i {
                    color: gray;
                    font-size: 12px;
                }

            .tab-content .review .desc .star i {
                color: #FFDD00;
            }

.tab-content .rating-wrap .star {
    display: block;
    width: 100%;
}

    .tab-content .rating-wrap .star span i {
        color: #FFDD00;
    }


.user-img,
.thumb-img,
.f-product-1,
.f-product-2,
.product-img,
.intro-img,
.amenities-img,
.blog-img,
.hotel-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}



/* ----------------------------------- PARA EL DETALLE DE PRODUCTO ---------------------------------------------------- */
.breadcrumbs {
    height: 300px !important;
}

    .breadcrumbs .slider-text {
        height: 300px !important;
    }

        .breadcrumbs .slider-text > .slider-text-inner {
            height: 300px !important;
        }

    .breadcrumbs .slides li .overlay {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    }

.fila-pb-sm {
    padding-bottom: 2em !important;
}

.fila-pb-lg {
    padding-bottom: 3em !important;
}

.product-detail-wrap .product-detail-top {
    display: flex;
    justify-content: space-between;
}

    .product-detail-wrap .product-detail-top .product-detail-images {
        width: 49%;
    }

        .product-detail-wrap .product-detail-top .product-detail-images .thumb-nail {
            display: flex;
            justify-content: space-between;
        }

    .product-detail-wrap .product-detail-top .product-detail-info {
        width: 49%;
        margin-top: 20px;
    }

        .product-detail-wrap .product-detail-top .product-detail-info .desc {
            display: flex;
            flex-direction: column;
        }

            .product-detail-wrap .product-detail-top .product-detail-info .desc h3 {
                text-transform: uppercase;
                font-size: 20px;
                margin: 0 0 17px 0;
                font-weight: bold;
            }

            .product-detail-wrap .product-detail-top .product-detail-info .desc .price span {
                width: 49%;
                display: inline-block;
                font-weight: 400;
                font-size: 25px;
                color: #595959;
                font-weight: bold;
            }

            .product-detail-wrap .product-detail-top .product-detail-info .desc p {
                font-weight: 300 !important;
                line-height: 1.7 !important;
                font-family: "Roboto", Arial, sans-serif !important;
                margin-bottom: 40px;
            }

            .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top {
                display: flex;
                justify-content: space-evenly;
            }

                .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .cantProd, .amount {
                    display: flex;
                    flex-direction: column;
                    grid-gap: 20px;
                    align-items: flex-start;
                }

                .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .cantProd {
                    width: 50%;
                }

                    .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .cantProd p {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .amount {
                    width: 40%;
                    padding-left: 20px;
                }

                .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .amount .row {
                    grid-gap: 10px;
                }

            .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom {
                display: flex;
                justify-content: space-evenly
            }

                .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn {
                    background-color: #141438;
                    position: relative;
                    margin: 20px;
                    float: left;
                    transition: .3s all ease;
                }

                    .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn:nth-child(1):before, .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn:nth-child(1):after {
                        content: " ";
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 0;
                        transition: .3s all ease;
                    }


.btn-arrow-left:before, .btn-arrow-left:after {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    top: -5px
}

.btn-arrow-left:after {
    border-right: 16px solid #141438;
    left: -15px;
    z-index: 2;
}

.btn-arrow-left:before {
    border-right: 16px solid #141438;
    left: -16px;
    z-index: 1;
}

.product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn:nth-child(2):before, .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn:nth-child(2):after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
}


.btn-arrow-right:before, .btn-arrow-right:after {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    top: -5px
}

.btn-arrow-right:after {
    border-left: 16px solid #141438;
    right: -15px;
    z-index: 2;
}

.btn-arrow-right:before {
    border-left: 16px solid #141438;
    right: -16px;
    z-index: 1;
}



.arrowText {
    position: relative;
    margin: 20px;
    width: 50px;
    height: 48px;
    background: #C7E0E5;
    border: solid 1px #0cceff;
    float: left;
}

    .arrowText:before, .arrowText:after {
        content: " ";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
    }

.arrowLeft:before, .arrowLeft:after {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    top: -1px
}

.arrowLeft:after {
    border-right: 16px solid #C7E0E5;
    left: -15px;
    z-index: 2;
}

.arrowLeft:before {
    border-right: 16px solid #0cceff;
    left: -16px;
    z-index: 1;
}



.product-detail-wrap .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 40px;
    display: table;
    font-size: 16px;
    padding: 8px 20px;
}

.product-detail-wrap .btn-addtocart {
    background-color: #EAB053;
}

.product-detail-wrap .desc .btn-addtocart i {
    color: #fff;
    font-size: 20px;
    padding-right: 10px;
}

.nav-pestañas {
    margin: 0 !important;
    border: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    width: 100%;
}

    .nav-pestañas li {
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
    }

    .nav-pestañas > li {
        float: left;
        margin-bottom: -1px;
    }

    .nav-pestañas li.active a {
        background: #141438;
        border: none;
        color: #fff;
        bottom: 0 !important;
        position: relative;
    }

    .nav-pestañas li a {
        width: 100%;
        margin: 0 10px 0 0;
        border: none;
        padding: 1.5em 1em !important;
        border: none;
        display: block;
        color: #4d4d4d;
        background: #fafafa;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        transition: 0.5s;
    }

    .nav-pestañas li.active a:hover, .nav-pestañas li.active a:focus {
        background: #141438;
        border: none;
        color: #fff;
    }

    .nav-pestañas > li > a:hover {
        border-color: #eeeeee #eeeeee #ddd;
    }


    .nav-pestañas > li > a:hover, .nav-pestañas > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee;
    }

    .nav-pestañas li.active a:after {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        content: '';
        width: 0;
        height: 0;
        margin: 0 auto;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #141438 transparent transparent transparent;
    }

.tab-content {
    padding: 3em 2em !important;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}

#description ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.product-detail-wrap .quantity-left-minus {
    border: 1px solid #e6e6e6;
    padding: 10px !important;
}


.product-detail-wrap .quantity-right-plus {
    border: 1px solid #e6e6e6;
    padding: 10px !important;
}

.flexslider {
    margin: 0 0 60px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ffc91a !important;
    border-color: #ffc91a !important;
}

.btn-arrow-left:hover:after, .btn-arrow-left:hover:before {
    border-right: 16px solid #FFC91A;
}

.btn-arrow-right:hover:after, .btn-arrow-right:hover:before {
    border-left: 16px solid #FFC91A;
}


#colorlib-featured-product,
.colorlib-shop,
#colorlib-contact,
#colorlib-intro,
#colorlib-testimony,
.colorlib-blog,
#colorlib-subscribe,
#colorlib-footer {
    padding-bottom: 9em;
    clear: both;
}

    .colorlib-shop .icon {
        margin-bottom: 2em;
        display: block;
    }

        .colorlib-shop .icon i {
            font-size: 100px;
            color: #FFC300;
        }

#colorlib-hero {
    height: 650px;
    background: #fff url(../../img/ajax-loader.gif) no-repeat center center;
    width: 100%;
    float: left;
    z-index: 0;
    /*margin-top: 70px;*/
}

    #colorlib-hero .btn {
        font-size: 24px;
    }

        #colorlib-hero .btn.btn-primary {
            padding: 14px 30px !important;
        }

    #colorlib-hero .flexslider {
        border: none;
        z-index: 1;
        margin-bottom: 0;
    }

        #colorlib-hero .flexslider .slides {
            position: relative;
            overflow: hidden;
        }

            #colorlib-hero .flexslider .slides li {
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center center;
                height: 300px;
                position: relative;
            }

                #colorlib-hero .flexslider .slides li .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

        #colorlib-hero .flexslider .flex-control-nav {
            bottom: 5em;
            z-index: 1000;
            width: 0 auto;
        }

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .flex-control-nav {
        bottom: 6em;
    }
}

#colorlib-hero .flexslider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

    #colorlib-hero .flexslider .flex-control-nav li a.flex-active {
        cursor: pointer;
        background: transparent;
        background: #FFC300;
    }

#colorlib-hero .flexslider .flex-direction-nav {
    display: none;
}

#colorlib-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    height: 650px;
    z-index: 9;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 650px;
    }

@media screen and (max-width: 768px) {
    #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        text-align: center;
    }
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .desc {
    display: inline-block;
    position: relative;
    z-index: 0;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .desc:after {
        position: absolute;
        top: -3em;
        left: -3em;
        right: 0;
        bottom: 0;
        width: 310px;
        height: 310px;
        content: '';
        background: #fff;
        z-index: -1;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

#colorlib-hero .flexslider .slider-text > .slider-text-inner h1, #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: black;
    text-transform: uppercase;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
    color: #000;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-1 {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 5px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .head-3 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

#colorlib-hero .flexslider .slider-text > .slider-text-inner .category {
    margin-bottom: 30px;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .category span {
        font-weight: 100;
        font-size: 20px;
        color: gray;
    }

#colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 30px !important;
    border: none;
}

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
        background: #FFC300;
        color: #fff;
    }

    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
        background: #000 !important;
    }

@media screen and (max-width: 480px) {
    #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
        width: 100%;
    }
}

#colorlib-hero .flexslider .slider-text .slider-text-inner .bread span a {
    color: #AF772B;
}

    #colorlib-hero .flexslider .slider-text .slider-text-inner .bread span a:hover {
        color: #EFB810;
    }

/*ANIMACIONES*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        /*visibility: visible;*/
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/*Pequeñas imagenes detalle de producto*/
.product-detail-wrap .thumb-nail .thumb-img:first-child {
    margin-left: 0;
}

.product-detail-wrap .thumb-nail .thumb-img {
    height: 120px;
    /*width: 31.87%;*/
    float: left;
    margin-left: 8px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .product-detail-wrap .thumb-nail .thumb-img {
        width: 31.5%;
    }
}

/*SIMILAR PRODUCTS*/
.colorlib-heading h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    position: relative;
    text-transform: uppercase;
}

    .colorlib-heading h2 span {
        position: relative;
    }

        .colorlib-heading h2 span:after {
            position: absolute;
            top: 49%;
            left: -80px;
            bottom: 0;
            content: '';
            width: 60px;
            height: 2px;
            background: #EAB053;
        }

        .colorlib-heading h2 span:before {
            position: absolute;
            top: 49%;
            right: -80px;
            bottom: 0;
            content: '';
            width: 60px;
            height: 2px;
            background: #EAB053;
        }

/*-------------------------------------------------bloque de productos en TIENDASN-----------------------------------------------------------------*/
.paginadoProductos {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 1200px) {
    .paginadoProductos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .product-entry {
        padding: 20px;
    }
}


@media (max-width: 767px) {
    .paginadoProductos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .product-entry {
        padding: 13px;
    }
}

/*---------------------------------------------------Efecto imagenes detalle producto--------------------------------------------------------------*/

.item {
    width: 22%;
    margin: 10px;
}

    .item img {
        border: 1px solid #fff;
        cursor: pointer;
    }

.ligthbox {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.btn-close {
    width: 70px;
    height: 70px;
    background: #AE4545;
    border: 3px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/*RESPONSIVE DETALLE PRODUCTO*/
@media (max-width: 575px) {
    .colorlib-shop-master .colorlib-shop .contenido {
        width: 100%;
    }

    .colorlib-heading h2 {
        font-size: 16px;
        font-weight: 600;
    }

    .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .amount {
        width: 50%;
        padding-left: 0;
    }

    .fila-pb-lg {
        padding-bottom: 0 !important;
    }

    #colorlib-featured-product, .colorlib-shop, #colorlib-contact, #colorlib-intro, #colorlib-testimony, .colorlib-blog, #colorlib-subscribe, #colorlib-footer {
        padding-bottom: 0;
    }
}
@media (max-width: 321px) {
    .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .bottom .btn {
        margin: 10px;
    }

    .product-detail-wrap .product-detail-top .product-detail-info .desc .transaction .top .amount {
        width: 55%;
    }

    .tab-content .review .desc {
        width: 100%;
    }

    .tab-content .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
    }

    .colorlib-heading h2 {
        font-size: 13px;
    }
}
@media (min-width: 576px) {
    .colorlib-shop-master .colorlib-shop .contenido {
        width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .colorlib-shop-master .colorlib-shop .contenido {
        width: 750px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .colorlib-shop-master .colorlib-shop .contenido {
        width: 970px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .colorlib-shop-master .colorlib-shop .contenido {
        width: 1170px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px){
    .nav-pestañas li {
        width: 30%;
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .product-detail-wrap .product-detail-top {
        flex-direction: column
    }

        .product-detail-wrap .product-detail-top .product-detail-images {
            width: 100%;
        }

        .product-detail-wrap .product-detail-top .product-detail-info {
            width: 100%;
            margin: 0;
        }
}

@media (min-width: 768px) and (max-width: 1200px){
    .product-entry .product-img .cart {
        padding: 0 0px;
    }
}

/**********************************************************************************************************************/
.fila {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px
}

    .fila:after {
        content: "";
        display: table;
        clear: both
    }

    .fila
    .col {
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 .75rem;
        min-height: 1px
    }

        .fila .col[class*="push-"], .fila .col[class*="pull-"] {
            position: relative
        }

        .fila
        .col.s1 {
            width: 8.3333333333%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s2 {
            width: 16.6666666667%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s3 {
            width: 25%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s4 {
            width: 33.3333333333%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s5 {
            width: 41.6666666667%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s6 {
            width: 50%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s7 {
            width: 58.3333333333%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s8 {
            width: 66.6666666667%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s9 {
            width: 75%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s10 {
            width: 83.3333333333%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s11 {
            width: 91.6666666667%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila
        .col.s12 {
            width: 100%;
            margin-left: auto;
            left: auto;
            right: auto
        }

        .fila .col.offset-s1 {
            margin-left: 8.3333333333%
        }

        .fila .col.pull-s1 {
            right: 8.3333333333%
        }

        .fila .col.push-s1 {
            left: 8.3333333333%
        }

        .fila .col.offset-s2 {
            margin-left: 16.6666666667%
        }

        .fila .col.pull-s2 {
            right: 16.6666666667%
        }

        .fila .col.push-s2 {
            left: 16.6666666667%
        }

        .fila .col.offset-s3 {
            margin-left: 25%
        }

        .fila .col.pull-s3 {
            right: 25%
        }

        .fila .col.push-s3 {
            left: 25%
        }

        .fila .col.offset-s4 {
            margin-left: 33.3333333333%
        }

        .fila .col.pull-s4 {
            right: 33.3333333333%
        }

        .fila .col.push-s4 {
            left: 33.3333333333%
        }

        .fila .col.offset-s5 {
            margin-left: 41.6666666667%
        }

        .fila .col.pull-s5 {
            right: 41.6666666667%
        }

        .fila .col.push-s5 {
            left: 41.6666666667%
        }

        .fila .col.offset-s6 {
            margin-left: 50%
        }

        .fila .col.pull-s6 {
            right: 50%
        }

        .fila .col.push-s6 {
            left: 50%
        }

        .fila .col.offset-s7 {
            margin-left: 58.3333333333%
        }

        .fila .col.pull-s7 {
            right: 58.3333333333%
        }

        .fila .col.push-s7 {
            left: 58.3333333333%
        }

        .fila .col.offset-s8 {
            margin-left: 66.6666666667%
        }

        .fila .col.pull-s8 {
            right: 66.6666666667%
        }

        .fila .col.push-s8 {
            left: 66.6666666667%
        }

        .fila .col.offset-s9 {
            margin-left: 75%
        }

        .fila .col.pull-s9 {
            right: 75%
        }

        .fila .col.push-s9 {
            left: 75%
        }

        .fila .col.offset-s10 {
            margin-left: 83.3333333333%
        }

        .fila .col.pull-s10 {
            right: 83.3333333333%
        }

        .fila .col.push-s10 {
            left: 83.3333333333%
        }

        .fila .col.offset-s11 {
            margin-left: 91.6666666667%
        }

        .fila .col.pull-s11 {
            right: 91.6666666667%
        }

        .fila .col.push-s11 {
            left: 91.6666666667%
        }

        .fila .col.offset-s12 {
            margin-left: 100%
        }

        .fila .col.pull-s12 {
            right: 100%
        }

        .fila .col.push-s12 {
            left: 100%
        }

@media only screen and (min-width: 601px) {
    .fila
    .col.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila .col.offset-m1 {
        margin-left: 8.3333333333%
    }

    .fila .col.pull-m1 {
        right: 8.3333333333%
    }

    .fila .col.push-m1 {
        left: 8.3333333333%
    }

    .fila .col.offset-m2 {
        margin-left: 16.6666666667%
    }

    .fila .col.pull-m2 {
        right: 16.6666666667%
    }

    .fila .col.push-m2 {
        left: 16.6666666667%
    }

    .fila .col.offset-m3 {
        margin-left: 25%
    }

    .fila .col.pull-m3 {
        right: 25%
    }

    .fila .col.push-m3 {
        left: 25%
    }

    .fila .col.offset-m4 {
        margin-left: 33.3333333333%
    }

    .fila .col.pull-m4 {
        right: 33.3333333333%
    }

    .fila .col.push-m4 {
        left: 33.3333333333%
    }

    .fila .col.offset-m5 {
        margin-left: 41.6666666667%
    }

    .fila .col.pull-m5 {
        right: 41.6666666667%
    }

    .fila .col.push-m5 {
        left: 41.6666666667%
    }

    .fila .col.offset-m6 {
        margin-left: 50%
    }

    .fila .col.pull-m6 {
        right: 50%
    }

    .fila .col.push-m6 {
        left: 50%
    }

    .fila .col.offset-m7 {
        margin-left: 58.3333333333%
    }

    .fila .col.pull-m7 {
        right: 58.3333333333%
    }

    .fila .col.push-m7 {
        left: 58.3333333333%
    }

    .fila .col.offset-m8 {
        margin-left: 66.6666666667%
    }

    .fila .col.pull-m8 {
        right: 66.6666666667%
    }

    .fila .col.push-m8 {
        left: 66.6666666667%
    }

    .fila .col.offset-m9 {
        margin-left: 75%
    }

    .fila .col.pull-m9 {
        right: 75%
    }

    .fila .col.push-m9 {
        left: 75%
    }

    .fila .col.offset-m10 {
        margin-left: 83.3333333333%
    }

    .fila .col.pull-m10 {
        right: 83.3333333333%
    }

    .fila .col.push-m10 {
        left: 83.3333333333%
    }

    .fila .col.offset-m11 {
        margin-left: 91.6666666667%
    }

    .fila .col.pull-m11 {
        right: 91.6666666667%
    }

    .fila .col.push-m11 {
        left: 91.6666666667%
    }

    .fila .col.offset-m12 {
        margin-left: 100%
    }

    .fila .col.pull-m12 {
        right: 100%
    }

    .fila .col.push-m12 {
        left: 100%
    }
}

@media only screen and (min-width: 993px) {
    .fila
    .col.l1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.l12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila .col.offset-l1 {
        margin-left: 8.3333333333%
    }

    .fila .col.pull-l1 {
        right: 8.3333333333%
    }

    .fila .col.push-l1 {
        left: 8.3333333333%
    }

    .fila .col.offset-l2 {
        margin-left: 16.6666666667%
    }

    .fila .col.pull-l2 {
        right: 16.6666666667%
    }

    .fila .col.push-l2 {
        left: 16.6666666667%
    }

    .fila .col.offset-l3 {
        margin-left: 25%
    }

    .fila .col.pull-l3 {
        right: 25%
    }

    .fila .col.push-l3 {
        left: 25%
    }

    .fila .col.offset-l4 {
        margin-left: 33.3333333333%
    }

    .fila .col.pull-l4 {
        right: 33.3333333333%
    }

    .fila .col.push-l4 {
        left: 33.3333333333%
    }

    .fila .col.offset-l5 {
        margin-left: 41.6666666667%
    }

    .fila .col.pull-l5 {
        right: 41.6666666667%
    }

    .fila .col.push-l5 {
        left: 41.6666666667%
    }

    .fila .col.offset-l6 {
        margin-left: 50%
    }

    .fila .col.pull-l6 {
        right: 50%
    }

    .fila .col.push-l6 {
        left: 50%
    }

    .fila .col.offset-l7 {
        margin-left: 58.3333333333%
    }

    .fila .col.pull-l7 {
        right: 58.3333333333%
    }

    .fila .col.push-l7 {
        left: 58.3333333333%
    }

    .fila .col.offset-l8 {
        margin-left: 66.6666666667%
    }

    .fila .col.pull-l8 {
        right: 66.6666666667%
    }

    .fila .col.push-l8 {
        left: 66.6666666667%
    }

    .fila .col.offset-l9 {
        margin-left: 75%
    }

    .fila .col.pull-l9 {
        right: 75%
    }

    .fila .col.push-l9 {
        left: 75%
    }

    .fila .col.offset-l10 {
        margin-left: 83.3333333333%
    }

    .fila .col.pull-l10 {
        right: 83.3333333333%
    }

    .fila .col.push-l10 {
        left: 83.3333333333%
    }

    .fila .col.offset-l11 {
        margin-left: 91.6666666667%
    }

    .fila .col.pull-l11 {
        right: 91.6666666667%
    }

    .fila .col.push-l11 {
        left: 91.6666666667%
    }

    .fila .col.offset-l12 {
        margin-left: 100%
    }

    .fila .col.pull-l12 {
        right: 100%
    }

    .fila .col.push-l12 {
        left: 100%
    }
}

@media only screen and (min-width: 1201px) {
    .fila
    .col.xl1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila
    .col.xl12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto
    }

    .fila .col.offset-xl1 {
        margin-left: 8.3333333333%
    }

    .fila .col.pull-xl1 {
        right: 8.3333333333%
    }

    .fila .col.push-xl1 {
        left: 8.3333333333%
    }

    .fila .col.offset-xl2 {
        margin-left: 16.6666666667%
    }

    .fila .col.pull-xl2 {
        right: 16.6666666667%
    }

    .fila .col.push-xl2 {
        left: 16.6666666667%
    }

    .fila .col.offset-xl3 {
        margin-left: 25%
    }

    .fila .col.pull-xl3 {
        right: 25%
    }

    .fila .col.push-xl3 {
        left: 25%
    }

    .fila .col.offset-xl4 {
        margin-left: 33.3333333333%
    }

    .fila .col.pull-xl4 {
        right: 33.3333333333%
    }

    .fila .col.push-xl4 {
        left: 33.3333333333%
    }

    .fila .col.offset-xl5 {
        margin-left: 41.6666666667%
    }

    .fila .col.pull-xl5 {
        right: 41.6666666667%
    }

    .fila .col.push-xl5 {
        left: 41.6666666667%
    }

    .fila .col.offset-xl6 {
        margin-left: 50%
    }

    .fila .col.pull-xl6 {
        right: 50%
    }

    .fila .col.push-xl6 {
        left: 50%
    }

    .fila .col.offset-xl7 {
        margin-left: 58.3333333333%
    }

    .fila .col.pull-xl7 {
        right: 58.3333333333%
    }

    .fila .col.push-xl7 {
        left: 58.3333333333%
    }

    .fila .col.offset-xl8 {
        margin-left: 66.6666666667%
    }

    .fila .col.pull-xl8 {
        right: 66.6666666667%
    }

    .fila .col.push-xl8 {
        left: 66.6666666667%
    }

    .fila .col.offset-xl9 {
        margin-left: 75%
    }

    .fila .col.pull-xl9 {
        right: 75%
    }

    .fila .col.push-xl9 {
        left: 75%
    }

    .fila .col.offset-xl10 {
        margin-left: 83.3333333333%
    }

    .fila .col.pull-xl10 {
        right: 83.3333333333%
    }

    .fila .col.push-xl10 {
        left: 83.3333333333%
    }

    .fila .col.offset-xl11 {
        margin-left: 91.6666666667%
    }

    .fila .col.pull-xl11 {
        right: 91.6666666667%
    }

    .fila .col.push-xl11 {
        left: 91.6666666667%
    }

    .fila .col.offset-xl12 {
        margin-left: 100%
    }

    .fila .col.pull-xl12 {
        right: 100%
    }

    .fila .col.push-xl12 {
        left: 100%
    }
}

.input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem
}

    .input-field.inline {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px
    }

        .input-field.inline input, .input-field.inline .select-dropdown {
            margin-bottom: 1rem
        }

    .input-field.col
    label {
        left: .75rem
    }

    .input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
        width: calc(100% - 3rem - 1.5rem)
    }

    .input-field > label {
        color: #9e9e9e;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        cursor: text;
        -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: color .2s ease-out, -webkit-transform .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out;
        transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-align: initial;
        -webkit-transform: translateY(12px);
        transform: translateY(12px)
    }

        .input-field > label:not(.label-icon).active {
            -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0
        }

    .input-field > input[type]:-webkit-autofill:not(.browser-default):not([type="search"]) + label, .input-field > input[type=date]:not(.browser-default) + label, .input-field > input[type=time]:not(.browser-default) + label {
        -webkit-transform: translateY(-14px) scale(0.8);
        transform: translateY(-14px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }

    .input-field .helper-text {
        position: relative;
        min-height: 18px;
        display: block;
        font-size: 12px;
        color: rgba(0,0,0,0.54)
    }

        .input-field .helper-text::after {
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0
        }

    .input-field
    .prefix {
        position: absolute;
        width: 3rem;
        font-size: 2rem;
        -webkit-transition: color .2s;
        transition: color .2s;
        top: .5rem
    }

        .input-field
        .prefix.active {
            color: #26a69a
        }

        .input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
            margin-left: 3rem;
            width: 92%;
            width: calc(100% - 3rem)
        }

        .input-field .prefix ~ label {
            margin-left: 3rem
        }

@media only screen and (max-width: 992px) {
    .input-field .prefix ~ input {
        width: 86%;
        width: calc(100% - 3rem)
    }
}

@media only screen and (max-width: 600px) {
    .input-field .prefix ~ input {
        width: 80%;
        width: calc(100% - 3rem)
    }
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button
}

    button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }

    button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText
    }

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

    [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
select:focus {
    outline: 1px solid #c9f3ef
}

button, input, optgroup, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.input-field input[type=search] {
    display: block;
    line-height: inherit;
    -webkit-transition: .3s background-color;
    transition: .3s background-color
}

.nav-wrapper .input-field input[type=search] {
    height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-field input[type=search]:focus:not(.browser-default) {
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #444
}

    .input-field input[type=search]:focus:not(.browser-default) + label i, .input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close, .input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
        color: #444
    }

.input-field input[type=search] + .label-icon {
    -webkit-transform: none;
    transform: none;
    left: 1rem
}

.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transition: .3s color;
    transition: .3s color
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none
}

.dropdown-content{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)
}


select {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem
}

.select-wrapper
.caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87)
}

.select-wrapper + label {
    position: absolute;
    top: -26px;
    font-size: .8rem
}

select:disabled {
    color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled + label {
    color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled
.caret {
    fill: rgba(0,0,0,0.42)
}

.colorlib-shop-master .colorlib-shop .contenido .fila .select-wrapper select {
    display: none;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1
}

    .select-wrapper input.select-dropdown:focus {
        border-bottom: 1px solid #26a69a
    }

.select-wrapper
.caret {
    position: absolute;
    right: 15px;
    top: -5px;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87)
}

.select-wrapper + label {
    position: absolute;
    top: -26px;
    font-size: .8rem
}

select:disabled {
    color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled + label {
    color: rgba(0,0,0,0.42)
}

.select-wrapper.disabled
.caret {
    fill: rgba(0,0,0,0.42)
}

.select-wrapper input.select-dropdown:disabled {
    color: rgba(0,0,0,0.42);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    max-height: 370px;
}

    .dropdown-content:focus {
        outline: 0
    }

    .dropdown-content
    li {
        clear: both;
        color: rgba(0,0,0,0.87);
        cursor: pointer;
        min-height: 30px;
        line-height: 1.5rem;
        width: 100%;
        text-align: left
    }

        .dropdown-content li:hover, .dropdown-content
        li.active {
            background-color: #eee
        }

        .dropdown-content li:focus {
            outline: none
        }

        .dropdown-content
        li.divider {
            min-height: 0;
            height: 1px
        }

        .dropdown-content li > a, .dropdown-content li > span {
            font-size: 16px;
            color: #26a69a;
            display: block;
            line-height: 22px;
            padding: 7px 16px;
        }

            .dropdown-content li > span > label {
                top: 1px;
                left: 0;
                height: 18px
            }

            .dropdown-content li > a > i {
                height: inherit;
                line-height: inherit;
                float: left;
                margin: 0 24px 0 0;
                width: 24px
            }

body.keyboard-focused .dropdown-content li:focus {
    background-color: #dadada
}

.input-field.col .dropdown-content [type="checkbox"] + label {
    top: 1px;
    left: 0;
    height: 18px;
    -webkit-transform: none;
    transform: none
}

