﻿.cabinaCali {
    margin-top: 70px;
    margin: 70px auto 0;
    max-width: 1440px;
}

.cabinaCali__titulo {
    padding: 34px 100px 43px;
}

.cabinaCali__titulo p {
    color: var(--Dark-primary);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    margin: 0
}

.cabinaCali__contenido {
    border: 1px solid rgba(126, 224, 255, 0.47);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin: 0 100px 153px;
}

.progresoRango__titulo {
    margin-top: 58px;
}

    .progresoRango__titulo p {
        color: var(--Dark-primary);
        font-family: 'Roboto';
        font-size: 25px;
        font-weight: 700;
        width: fit-content;
        margin: auto;
    }

.progresoRango__semiCirculo {
    margin-top: 32px;
}

/*Para el Semir Circular Progress*/
.circular-progress {
    margin: auto;
    margin-bottom: -160px;
    position: relative;
    z-index: -1;
}

    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 40rem;
        height: 40rem;
        border-radius: 50%;
    }

    .circular-progress:before, .circular-progress:after {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }

    .circular-progress:before {
        padding: .8em;
        box-sizing: border-box;
        font-size: 7rem;
        line-height: 23rem;
    }

        .circular-progress:after {
            line-height: 50rem;
        }

.rango {
    /*transform: rotate(90deg);*/
    background: linear-gradient( 0deg, #153285 50%, #fff 50%);
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.25);
}

    .rango:before {
        content: "";
        background: #fff content-box;
        /*transform: rotate(-90deg);*/
        color: var(--Darkest-primary);
        font-weight: 700
    }
    .rango:after {
        content: "";
        background: linear-gradient(transparent 50%, #fff 50%);
        transform: scale(1.1) rotate(-90deg);
        font-size: 3.3rem;
        color: var(--Medium-primary);
        font-weight: 700
    }

/*Para la tabla de Cabina Calificación*/
.tablaInfoProgreso {
    width: max-content;
    margin: 70px auto 61px;
}

.table-bordered {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        border-bottom-width: 0 !important;
    }

        .table-bordered > thead > tr > th:nth-child(1) {
            border-right: 2px solid var(--Lightest-primary);
        }

        .table-bordered > thead > tr > th:nth-child(2) {
            border-right: 2px solid var(--Lightest-primary);
        }

    .table-bordered > tbody {
        border: 1.3px solid var(--Lightest-primary);
    }
        .table-bordered > tbody > tr > td:not(:last-child) {
            border-right: 2px solid var(--Lightest-primary);
        }
        /*.table-bordered > tbody > tr > td:nth-child(1) {
            border-right: 2px solid var(--Lightest-primary);
        }
        .table-bordered > tbody > tr > td:nth-child(2) {
            border-right: 2px solid var(--Lightest-primary);
        }*/

        .table-bordered > tbody > tr:not(:last-child) {
            border-bottom: 1.1px solid var(--Lightest-primary);
        }



    .table-bordered > thead > tr > th {
        background-color: var(--Light-primary);
        color: white;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 19px;
        padding: 13px 42px;
    }

    .table-bordered > thead > tr > th p {
        margin: 0;
    }
        .table-bordered > thead > tr > th p.thead__valor {
            font-family: 'Roboto';
            font-weight: 400;
        }

    .table-bordered > tbody > tr > td {
        color: var(--Dark-primary);
        font-weight: 700;
        text-align: center;
        font-family: 'Roboto';
        font-size: 19px;
        padding: 10px 5px;
        line-height: 1.59;
    }

    .table-bordered > tbody > tr > td p {
        margin: 0;
    }


        .table-bordered > tbody > tr > td p.tbody__titulo {
            color: #3A3A3A;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;
        }

    .table-bordered > tbody > tr .tbody__valorProgreso {
        font-size: 23px;
    }

    table caption {
        padding: .5em 0;
    }

@media (max-width: 900px){
    .cabinaCali__titulo {
        padding: 34px 20px 43px;
    }
    .cabinaCali__contenido {
        margin: 0 20px 153px;
    }
}
@media screen and (max-width: 787px) {
    .tablaInfoProgreso {
        width: 100%;
        /* margin-bottom: 15px; */
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 30rem;
        height: 30rem;
    }
    .circular-progress {
        margin-bottom: -40px;
    }

        .circular-progress:before {
            font-size: 5rem;
            line-height: 18rem;
        }

        .circular-progress:after {
            line-height: 45rem;
        }

    .rango:after {
        font-size: 2.3rem;
    }
}
@media (min-device-width: 541px) and (max-device-width: 768px) {
    .tablaInfoProgreso {
        width: max-content;
    }
}
@media screen and (max-width: 591px) {
    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 25rem;
        height: 25rem;
    }
    .circular-progress {
        margin-bottom: -40px;
    }

        .circular-progress:before {
            font-size: 4rem;
            line-height: 15rem;
        }

        .circular-progress:after {
            line-height: 40rem;
        }

    .rango:after {
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 500px) {
    .circular-progress, .circular-progress:before, .circular-progress:after {
        width: 17.5rem;
        height: 17.5rem;
    }

        .circular-progress:before {
            font-size: 3rem;
            line-height: 10rem;
        }

        .circular-progress:after {
            line-height: 30rem;
        }
    .rango:after {
        font-size: 2rem;
    }
    .cabinaCali__titulo p {
        font-size: 20px;
    }
    .progresoRango__titulo p {
        font-size: 20px;
    }
    .table-bordered > thead > tr > th p {
        font-size: 15px;
    }
    .table-bordered > thead > tr > th {
        padding: 13px 22px;
    }
}