﻿.sectionDatosNetwork {
    background-color: #E9E9E9;
    display: flex;
}

.sectionDatosNetwork__porcentaje {
    width: 467px;
    background-color: #fff;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    flex-grow: 4;
}

    .sectionDatosNetwork__porcentaje .descRangoActual {
        color: #8A8A8A;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 9px;
        line-height: 1;
    }

    .sectionDatosNetwork__porcentaje .valorRangoActual {
        color: #000;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        line-height: .8;
        margin-bottom: 15px;
    }

    .sectionDatosNetwork__porcentaje .valorComiTotal {
        font-size: 24px;
        color: #000;
        font-weight: 500;
        text-align: center;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 15px;
    }

        .sectionDatosNetwork__porcentaje .valorComiTotal .moneda {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            text-align: center;
        }

    .sectionDatosNetwork__porcentaje .botonComisiones {
        border-radius: 25px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: #fff;
        padding: 8.5px 16.5px;
        background-color: var(--Medium-primary);
        border: none;
        transition: .3s background-color ease;
    }
        .sectionDatosNetwork__porcentaje .botonComisiones:hover {
            background-color: #304d9e;
            border: none;
        }
    .sectionDatosNetwork__porcentaje .botonComisiones:focus {
        background-color: var(--Light-primary);
        border: none;
    }

.sectionDatosNetwork__cuadros {
    padding: 31.5px 116px;
    display: flex;
    grid-gap: 80px;
    flex-grow: 6;
}

    .sectionDatosNetwork__cuadros .cuadrosDerecha, .sectionDatosNetwork .cuadrosIzquierda {
        display: flex;
        flex-direction: column;
        grid-gap: 10px
    }

        .sectionDatosNetwork__cuadros .cuadrosDerecha div, .sectionDatosNetwork .cuadrosIzquierda div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap: 5px;
        }

        .sectionDatosNetwork__cuadros .cuadrosDerecha div, .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
            background-color: #fff;
            width: 320px;
            height: 103px;
            border-radius: 7px;
        }

        .sectionDatosNetwork__cuadros .cuadrosDerecha .paquete {
            color: var(--Medium-primary);
            font-weight: 500;
            font-size: 20px;
            margin: 0;
            text-align: center;
        }

        .sectionDatosNetwork__cuadros .cuadrosDerecha .valor, .sectionDatosNetwork__cuadros .cuadrosIzquierda .valor {
            color: #000;
            font-weight: bold;
            font-size: 24px;
            margin: 0;
            line-height: 1;
        }

        .sectionDatosNetwork__cuadros .cuadrosDerecha .desc, .sectionDatosNetwork__cuadros .cuadrosIzquierda .desc {
            color: var(--Medium-primary);
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            line-height: 1;
        }


/*-----------------------------------------------------------------------------------------------------------------------*/
.bloqueMiRed {
    max-width: 1440px;
    width: 100%;
    margin: 33px auto 50px;
}

.bloqueMiRed__section {
    max-width: 100%;
    margin: auto 100px;
}

.bloqueMiRed__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.bloqueMiRed__titulo p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    color: var(--Darkest-primary);
    margin-bottom: 0px;
    line-height: 1;
}

.bloqueMiRed__titulo a {
    border: 1px solid var(--Light-primary);
    border-radius: 40px;
    color: var(--Medium-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 14px 46.5px;
    transition: .3s background-color;
}

    .bloqueMiRed__titulo a:hover {
        color: var(--Medium-primary);
    }

    .bloqueMiRed__titulo a:focus {
        color: var(--Medium-primary);
        background-color: var(--Light-primary);
        border: 1px solid var(--Medium-primary);
    }

    .bloqueMiRed__titulo a:active {
        color: var(--Medium-primary);
        background-color: var(--Light-primary);
        border: 1px solid var(--Medium-primary);
    }

.bloqueMiRed__circulos {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 35px;
    padding: 0px 105px 5px;
}
    .bloqueMiRed__circulos article {
        display: flex;
        flex-direction: column;
        align-items: center
    }

.articleCirculos__img {
    position: relative
}

    .articleCirculos__img .valorCirculo {
        font-size: 41px;
        font-weight: 400;
        color: white;
        position: absolute;
        top: 0;
        margin: 0;
        line-height: 200px;
        width: 200px;
        text-align: center;
    }

.articleCirculos__nombre p {
    margin-top: -10px;
    font-weight: 500;
    font-size: 18px;
    color: var(--Medium-primary);
    text-align: center;
}

@media (max-width: 1360px) {
    .sectionDatosNetwork__cuadros {
        padding: 31.5px 86px;
        grid-gap: 58px;
    }
}
/*@media (max-width: 1320px) {
    .bloqueMiRed__section {
        margin: auto 50px;
    }
}*/
@media (max-width: 1280px) {
    .sectionDatosNetwork__cuadros {
        padding: 31.5px 70px;
        grid-gap: 28px;
    }
}
@media (max-width: 1215px) {
    .sectionDatosNetwork__cuadros {
        padding: 31.5px 30px;
        grid-gap: 18px;
        justify-content: center;
    }

    .bloqueMiRed__section {
        margin: auto 35px;
    }
    .bloqueMiRed__circulos {
        grid-gap: 0;
    }
}
@media (max-width: 1130px) {
    .sectionDatosNetwork__cuadros .cuadrosDerecha div, .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
        width: 250px;
    }
    .sectionDatosNetwork__porcentaje {
        width: 400px;
    }
}
@media (max-width: 998px) {
    .sectionDatosNetwork__cuadros .cuadrosDerecha div, .sectionDatosNetwork__cuadros .cuadrosIzquierda div {
        width: 200px;
    }
    .bloqueMiRed__circulos{
        padding: 0
    }
}
@media (max-width: 887px) {
    .sectionDatosNetwork{
        flex-direction: column;
    }
    .sectionDatosNetwork__porcentaje {
        width: 100%;
        padding: 20px 60px;
    }
    .bloqueMiRed__circulos {
        grid-template-columns: repeat(2, 1fr);
    }
}
